<link rel="stylesheet" href="/css/post.css">

<!-- <li id="post_<%=p.id%>">
    <% if (locals.user.id == p.User.id) { %>
        <a href="/post/destroy/<%= p.id %>"  class="common-class-delete"> Delete</a>
    <% } %>
    <div class="content">
        <%= p.Content %>
    </div>
    <div class="username">
        <%= p.User.Name %>
    </div>
    
    <div>
        <form action="/comment/create" method="post">
            <input type="text" name="comment" placeholder="Comments">
            <input type="hidden" name="post" value="<%= p._id %>">
            <input type="submit" value="Comment">
        </form>
    </div>
</li> -->

<li id="post-<%= p._id %>">
    <p>
        <% if (locals.user && locals.user.id == p.User.id){ %>
        <small>
            <a class="delete-post-button"  href="/post/destroy/<%= p.id %>">X</a>
        </small>
        <% } %>
        <%= p.Content %>
        <br>
        <small>
            <%= p.User.Name %>
        </small>
    </p>
    <div class="post-comments">
        <% if (locals.user){ %>
            <form action="/comment/create" method="POST">
                <input type="text" name="comment" placeholder="Type Here to add comment..." required>
                <input type="hidden" name="post" value="<%= p._id %>" >
                <input type="submit" value="Add Comment">
            </form>

        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= p._id %>">
                <% for (c of p.comments){%>

                    <%- include('_comment') -%>
                    
                
                <%} %>
            </ul>
        </div>
    </div>
    
</li>