<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

 <style>
       aside {
            width: 20%; 
            position: relative;
            left: 0;
            top: 0;
            height: 100%;
            background-color: #f0f0f0; 
            padding: 20px; 
        }
        section {
            margin: 0 auto; /* Center the section horizontally */
            max-width: 800px; /* Adjust the maximum width as needed */
            padding: 20px; /* Add some padding for content */
        }
 </style>

</head>
<body>

    <section>
    <div>
        <h1>Welcome to SocialB</h1>
    </div>
    <div>
        <% if (locals.user) { %>
        <!-- Post form -->
        <form action="/post/posts" method="post" id="create-post">
            <textarea name="Content" cols="30" rows="10" placeholder="Write Post...."></textarea>
            <input type="submit" value="Click To Post">
            <input type="reset" value="Delete All">
        </form>
        <!-- Comment form -->
        <% } %>
    </div>
    <div id="post_container">
        <% if (locals.user) { %>
        <% for (p of posts) { %>
        <div>



            <%-include('_post')-%>
        
        
        
        </div>
       
       
        <div>


          <%-include('_comment')-%>



        </div>
        <% } %>
      
    </div>
</section>
           <!-- aside for Friend List and Edits -->

           <aside>

            <% for(f of allfriend) {%>
                <p>
                    <a href="/users/profile/<%=f.id%>"><%=f.Name%></a>
                </p>


            <%}%>
           </aside>


           <% } %>

</body>
<script src="/js/home_post.js"></script>
</html>
